In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Fish.csv')

In [3]:
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [24]:
df['Species'].value_counts()

Perch        56
Bream        35
Roach        20
Pike         17
Smelt        14
Parkki       11
Whitefish     6
Name: Species, dtype: int64

In [5]:
df.corr()

           Weight   Length1   Length2   Length3    Height     Width
Weight   1.000000  0.915712  0.918618  0.923044  0.724345  0.886507
Length1  0.915712  1.000000  0.999517  0.992031  0.625378  0.867050
Length2  0.918618  0.999517  1.000000  0.994103  0.640441  0.873547
Length3  0.923044  0.992031  0.994103  1.000000  0.703409  0.878520
Height   0.724345  0.625378  0.640441  0.703409  1.000000  0.792881
Width    0.886507  0.867050  0.873547  0.878520  0.792881  1.000000

In [6]:
y = df['Weight']
X = df.drop('Weight', axis=1)

In [7]:
X

    Species  Length1  Length2  Length3   Height   Width
0     Bream     23.2     25.4     30.0  11.5200  4.0200
1     Bream     24.0     26.3     31.2  12.4800  4.3056
2     Bream     23.9     26.5     31.1  12.3778  4.6961
3     Bream     26.3     29.0     33.5  12.7300  4.4555
4     Bream     26.5     29.0     34.0  12.4440  5.1340
..      ...      ...      ...      ...      ...     ...
154   Smelt     11.5     12.2     13.4   2.0904  1.3936
155   Smelt     11.7     12.4     13.5   2.4300  1.2690
156   Smelt     12.1     13.0     13.8   2.2770  1.2558
157   Smelt     13.2     14.3     15.2   2.8728  2.0672
158   Smelt     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 6 columns]

In [8]:
y

0      242.0
1      290.0
2      340.0
3      363.0
4      430.0
       ...
154     12.2
155     13.4
156     12.2
157     19.7
158     19.9
Name: Weight, Length: 159, dtype: float64

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['Species'] = le.fit_transform(X['Species'])

In [10]:
print(le.classes_)

['Bream' 'Parkki' 'Perch' 'Pike' 'Roach' 'Smelt' 'Whitefish']

In [11]:
X

     Species  Length1  Length2  Length3   Height   Width
0          0     23.2     25.4     30.0  11.5200  4.0200
1          0     24.0     26.3     31.2  12.4800  4.3056
2          0     23.9     26.5     31.1  12.3778  4.6961
3          0     26.3     29.0     33.5  12.7300  4.4555
4          0     26.5     29.0     34.0  12.4440  5.1340
..       ...      ...      ...      ...      ...     ...
154        5     11.5     12.2     13.4   2.0904  1.3936
155        5     11.7     12.4     13.5   2.4300  1.2690
156        5     12.1     13.0     13.8   2.2770  1.2558
157        5     13.2     14.3     15.2   2.8728  2.0672
158        5     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 6 columns]

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor(n_estimators=200,)
reg.fit(X_train, y_train)

RandomForestRegressor(n_estimators=200)

In [14]:
X_test[:5]

     Species  Length1  Length2  Length3  Height   Width
78         2     16.8     18.7     19.4  5.1992  3.1234
155        5     11.7     12.4     13.5  2.4300  1.2690
128        3     30.0     32.3     34.8  5.5680  3.3756
55         6     23.6     26.0     28.7  8.3804  4.2476
94         2     21.0     23.0     24.5  5.2185  3.6260

In [15]:
y_pred = reg.predict(X_test)

In [16]:
y_pred[:10]

array([  83.235     ,   11.508     ,  304.655     ,  276.865     ,
        138.125     ,  857.095     ,    8.212     ,  243.7       ,
        193.88      , 1411.32916667])

In [17]:
y_test[:10]

78       78.0
155      13.4
128     200.0
55      270.0
94      150.0
29     1000.0
147       7.0
51      180.0
98      188.0
141    1250.0
Name: Weight, dtype: float64

In [18]:
from sklearn.metrics import mean_squared_log_error, r2_score
print('Mean Squared Log Error', mean_squared_log_error(y_test, y_pred))
print('R2 Score', r2_score(y_test, y_pred))

Mean Squared Log Error 0.025327750560264553
R2 Score 0.9723331757867154

In [19]:
import pickle

In [20]:
with open('model.pkl', 'wb') as f:
    pickle.dump(reg, f)

In [23]:
X_test.iloc[7]

Species     4.0000
Length1    23.6000
Length2    25.2000
Length3    27.9000
Height      7.0866
Width       3.9060
Name: 51, dtype: float64